@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 0 0% 100%;
		--foreground: 224 71.4% 4.1%;
		--card: 0 0% 100%;
		--card-foreground: 224 71.4% 4.1%;
		--popover: 0 0% 100%;
		--popover-foreground: 224 71.4% 4.1%;
		--primary: 262.1 83.3% 57.8%;
		--primary-foreground: 210 20% 98%;
		--secondary: 220 14.3% 95.9%;
		--secondary-foreground: 220.9 39.3% 11%;
		--muted: 220 14.3% 95.9%;
		--muted-foreground: 220 8.9% 46.1%;
		--accent: 220 14.3% 95.9%;
		--accent-foreground: 220.9 39.3% 11%;
		--destructive: 0 84.2% 60.2%;
		--destructive-foreground: 210 20% 98%;
		--border: 220 13% 91%;
		--input: 220 13% 91%;
		--ring: 262.1 83.3% 57.8%;
		--radius: 0.75rem;
	}

	.dark {
		--background: 229 84% 4.9%;
		--foreground: 210 40% 96.1%;
		--card: 222 47.4% 11.2%;
		--card-foreground: 213 26.8% 83.9%;
		--popover: 229 84% 4.9%;
		--popover-foreground: 213 26.8% 83.9%;
		--primary: 270 100% 50%;
		--primary-foreground: 251 91.3% 95.5%;
		--secondary: 217 32.6% 17.5%;
		--secondary-foreground: 213 26.8% 83.9%;
		--muted: 215 25% 26.7%;
		--muted-foreground: 215 20.2% 65.1%;
		--accent: 217 32.6% 17.5%;
		--accent-foreground: 251 91.3% 95.5%;
		--destructive: 350 89% 60%;
		--destructive-foreground: 356 100% 94.7%;
		--border: 217 32.6% 17.5%;
		--input: 222 47.4% 11.2%;
		--ring: 270 100% 50%;
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground antialiased;
	}
	.link {
		@apply text-primary underline underline-offset-4 hover:underline-offset-8;
	}

	h1 {
		@apply text-6xl font-semibold tracking-tight mb-8;
	}
	h2 {
		@apply text-4xl font-bold mb-6;
	}
	h3 {
		@apply text-3xl font-semibold mb-2;
	}
	h4 {
		@apply text-2xl font-light mb-2 tracking-wide;
	}
	h5 {
		@apply text-sm uppercase tracking-wider font-semibold mb-1;
	}
}

.prose {
	@apply text-foreground selection:bg-muted selection:text-primary-foreground text-lg;
}

.prose .tiptap * {
	@apply mb-2;
}

.prose h1,
.prose h2,
.prose h3,
.prose h4,
.prose h5 {
	@apply m-0 mb-4 mt-8 font-bold;
}

.prose p {
	@apply leading-relaxed;
}

.prose ol {
	@apply list-decimal ml-6;
}
.prose ol * {
	@apply my-0;
}

.prose .tiptap > *:first-child {
	@apply mt-0;
}
.prose .tiptap > *:last-child {
	@apply mb-0;
}

.bg-idea {
	@apply bg-idea-600 text-idea-50;
}
.bg-do {
	@apply bg-do-600 text-do-50;
}
.bg-doing {
	@apply bg-doing-600 text-doing-50;
}
.bg-review {
	@apply bg-review-600 text-review-50;
}
.bg-done {
	@apply bg-done-600 text-done-50;
}
.bg-finished {
	@apply bg-finished-600 text-finished-50;
}

.border-idea {
	@apply border-idea-600;
}
.border-do {
	@apply border-do-600;
}
.border-doing {
	@apply border-doing-600;
}
.border-review {
	@apply border-review-600;
}
.border-done {
	@apply border-done-600;
}
.border-finished {
	@apply border-finished-600;
}

.bg-content {
	@apply bg-foreground/5 border rounded-lg border-foreground/10 backdrop-blur-xl px-0 py-2;
}

.menu-item {
	@apply rounded-none text-xs items-center focus:bg-foreground/20 flex text-foreground;
}

.scroll-area__component > div {
	@apply h-full;
}
