@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 220 30% 5%;
    --card: 220 30% 15%;
    --popover: 220 30% 20%;
    --primary: 255 90% 60%;
    --secondary: 220 30% 20%;
    --muted: 220 20% 30%;
    --accent: 220 20% 30%;
    --foreground: 200 50% 95%;
    --card-foreground: 200 50% 95%;
    --popover-foreground: 200 50% 95%;
    --primary-foreground: 270 100% 97%;
    --secondary-foreground: 200 50% 95%;
    --muted-foreground: 220 30% 65%;
    --accent-foreground: 200 50% 95%;
    --border: 220 30% 15%;
    --input: 220 30% 15%;
    --ring: 270 100% 50%;
    --destructive: 350 89% 60%;
    --destructive-foreground: 350 90% 95%;
    --radius: 0.75rem;
  }

  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground antialiased;
  }
  .link {
    @apply text-primary underline underline-offset-4 hover:underline-offset-8;
  }

  h1 {
    @apply mb-8 text-6xl font-bold tracking-tight;
  }
  h2 {
    @apply mb-6 text-4xl font-bold;
  }
  h3 {
    @apply mb-2 text-3xl font-bold;
  }
  h4 {
    @apply mb-2 text-2xl font-light tracking-wide;
  }
  h5 {
    @apply mb-1 text-sm font-bold uppercase tracking-wider;
  }
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

.prose {
  @apply text-lg text-foreground selection:bg-primary selection:text-foreground;
}

.prose .tiptap * {
  @apply mb-2;
}

.prose h1,
.prose h2,
.prose h3,
.prose h4,
.prose h5 {
  @apply m-0 mb-4 mt-8 font-bold;
}

.prose p {
  @apply leading-relaxed;
}

.prose ol {
  @apply ml-6 list-decimal;
}
.prose ol * {
  @apply my-0;
}

.prose .tiptap > *:first-child {
  @apply mt-0;
}
.prose .tiptap > *:last-child {
  @apply mb-0;
}

.bg-idea {
  @apply bg-idea-600 text-idea-50;
}
.bg-do {
  @apply bg-do-600 text-do-50;
}
.bg-doing {
  @apply bg-doing-600 text-doing-50;
}
.bg-review {
  @apply bg-review-600 text-review-50;
}
.bg-done {
  @apply bg-done-600 text-done-50;
}
.bg-finished {
  @apply bg-finished-600 text-finished-50;
}

.border-idea {
  @apply border-idea-600;
}
.border-do {
  @apply border-do-600;
}
.border-doing {
  @apply border-doing-600;
}
.border-review {
  @apply border-review-600;
}
.border-done {
  @apply border-done-600;
}
.border-finished {
  @apply border-finished-600;
}

.bg-idea-action {
  @apply border-idea-700 bg-idea-900/30 text-slate-200 hover:border-idea-500 hover:bg-idea-900/50 hover:text-idea-300;
}
.bg-do-action {
  @apply border-do-700 bg-do-900/30 text-slate-200 hover:border-do-500 hover:bg-do-900/50 hover:text-do-300;
}
.bg-doing-action {
  @apply border-doing-700 bg-doing-900/30 text-slate-200 hover:border-doing-500 hover:bg-doing-900/50 hover:text-doing-300;
}
.bg-review-action {
  @apply border-review-700 bg-review-900/30 text-slate-200 hover:border-review-500 hover:bg-review-900/50 hover:text-review-300;
}
.bg-done-action {
  @apply border-done-700 bg-done-900/30 text-slate-200 hover:border-done-500 hover:bg-done-900/50 hover:text-done-300;
}
.bg-finished-action {
  @apply border-finished-700 bg-finished-900/30 text-slate-200 hover:border-finished-500 hover:bg-finished-900/50 hover:text-finished-300;
}

.bg-content {
  @apply rounded-lg border border-foreground/10 bg-popover/20 px-0 py-2 backdrop-blur-xl;
}

.menu-item {
  @apply flex items-center rounded-none text-xs text-foreground focus:bg-accent;
}

.scroll-area__component > div {
  @apply h-full;
}
